/************************************************
*  $_NEWS.SCSS
*************************************************/
// Page elements for /news
.news__page-title {
	margin-top: 0;
	margin-bottom: em(20,72);
}
.news__section {
	overflow: hidden;
}
.button.news__archive-link {
	clear: both;
	//display: block;
	text-align: center;
	color: $base-font-color;
	margin: em(0) 0 em(30);
}
@include mq($from: mobileLandscape, $until: tablet) {
	.news__feat-news .col .news-ad {
		@include span-columns(8 of 16);
	}
}