/********************************
*  _campaign-modal.SCSS
*********************************/
.campaign-modal {
	width: 100%; height:100%;
	position:fixed;
	padding:10px;
}

.campaign-modal__body {	
	width:300px;
	background-color: #ffffff;
	text-align: center;
	padding:20px;
	margin: auto;
	margin-top: 40vh;
	transform: translate(0 , -50%);
	border-radius: 10px;
	button {
		min-width: 90px;
		margin:0 10px;
	}
	p {
		margin-bottom: 30px;
		margin-top: 10px;
	}
}

@include mq($from: tablet) {

.campaign-modal__body {	
	transform: scale(1.5,1.5) translate(0 , -50%);
	padding:30px;
}


}