/************************************************
*  $_GDPR.SCSS
*************************************************/

//overwriting some basic styles on the gdpr cookie plugin

.mgbutton {background-color: $hfj-red !important; border-color: $hfj-red !important; border-radius:.357142857em !important;}
.moove-gdpr-branding-cnt {display:none;}