/*******************************************************************************
*  	_$NAVIGATION.SCSS
********************************************************************************/

.menu.horizontal {
	display: inline;
	li {
		display: inline-block;
	}
	a {
		display: block;
	}
}

