/*******************************************************************************
*  	$_SPLIDER
********************************************************************************/

.slider {
	max-width: 400px;
	margin: 0 auto;
}

.slider--space {
	margin-bottom:100px;
}

