/********************************
*  _video-modal.SCSS
*********************************/
.video-modal {
	width: 100%;
	height: 100vh;
	position:fixed;
}

.video-modal__close {
	width:120px;
	height: 120px;
	text-align: center; line-height: 100px;
	color:#ffffff; 
	background-color: #2e9df7;
	border-radius: 100%;
	margin-top: -60px;
	margin-right: -60px;
	transform: scale(1.0);
	display:block;
	transition: all 0.2s ease-in-out;
	padding-top: 32px;
    padding-right: 40px;
    display: none;
}

.video-modal__close:hover {
	transform: scale(1.2);
	 -webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-o-transform: scale(1.2);
}
.video-modal__header {height:50px; z-index: 2; position: fixed; right:0;}

.video-modal iframe {
	z-index: 1;
	height: 50%;  
}

.video-modal__body {	
	width:100%;
	margin: auto;
	padding-top:50%;
	max-width: 960px;
	position: relative;
}

.video-modal__footer {
	position: absolute;
	left:50%; 
	transform: translateX(-50%);
	text-align: center;
	margin-top: 20px;
}


@include mq($from: tablet) {
	.video-modal__body {margin-top: 0; width:70%; padding-top:200px;}
	.video-modal__footer {
	//margin-top: 0px; text-align: center;
	}
	.video-modal__close {display: block;}
	//.video-modal {height: calc(100vh - 50px);}
}